@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="form-inline" action="http://localhost:5282/home/dowork" method="post">
        <button type="submit" class="btn btn-primary">Clik here to see kittens</button>
    </form>
</div>
