@using Newtonsoft.Json;
@model ReactServerSide.Models.IndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
</head>
<body>
    <div id="content">
        @Html.React("CommentList", new { comments = Model.Comments })
    </div>
</body>

</html>